body {
    font-family: 'Comfortaa', cursive;
      background: linear-gradient(to right, #1a1919, #1a1919); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      overflow: hidden;
  }
  h1.major,
  h2.major,
  h3.major,
  h4.major,
  h5.major,
  h6.major {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: #52d4e2;
  }
  a:hover,
  a:focus {
    color: #00E4FF;
    text-decoration: none;
  }
  header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
  }
  header #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  header .vert-text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }
  header .vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
  }
  header .vert-text .scroll-down {
    display: block;
    position: absolute;
    bottom: 12%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  header .vert-text .scroll-down:hover {
    opacity: 0.5;
  }
  header .vert-text .scroll-down::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  header .vert-text .scroll-down::before {
    position: absolute;
    top: -22px;
    left: -22px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }
  .p-img{
      text-align: center;
      position: relative;
      top: -70px;
  }
  #catimg{
      z-index: 100;
      border-radius: 50%;
      width: 10%;
      height:20%;
  }
  .btn {
    background: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
  }