html,body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Comfortaa', cursive;
    background: linear-gradient(to right, #1a1919, #1a1919); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    color: white;
  }
  #bigcat {
    width: 80%;
  }
  .left {
    float:left;
  }
  .right {
    float:right;
    text-align: center;
    font-size: 30px;
    top: 150px;
  }
  .left, .right {
    display: inline-block;
    position: relative;
    width: 50%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #footer * {
        margin-left: 2%;
      }